In [1]:
import pandas as pd

In [5]:
speed = pd.read_csv(r"D:\Workspace\python_workspace\gearbox-fault-detection\local\rotating_speed\san_tang_hu\5\gearbox.csv", index_col=0, parse_dates=True)

In [6]:
speed

                         0
date
2018-01-01 12:34:11  14.94
2018-01-02 00:33:53  14.97
2018-01-03 03:44:47  14.91
2018-01-04 06:26:32  14.21
2018-01-05 00:33:31  14.97
...                    ...
2018-08-27 22:49:48  14.59
2018-08-28 04:50:05  14.74
2018-08-29 18:31:29  15.00
2018-08-30 01:26:47  15.00
2018-08-31 01:28:15  15.00

[190 rows x 1 columns]

In [7]:
speed.columns = ["speed"]

In [8]:
speed

                     speed
date
2018-01-01 12:34:11  14.94
2018-01-02 00:33:53  14.97
2018-01-03 03:44:47  14.91
2018-01-04 06:26:32  14.21
2018-01-05 00:33:31  14.97
...                    ...
2018-08-27 22:49:48  14.59
2018-08-28 04:50:05  14.74
2018-08-29 18:31:29  15.00
2018-08-30 01:26:47  15.00
2018-08-31 01:28:15  15.00

[190 rows x 1 columns]

In [9]:
speed.to_csv("test.csv")